<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <logger name="org.springframework.beans.factory" level="warn"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
<!--    <logger name="org.hibernate.type" level="TRACE"/>-->
<!--    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
